


.header_update_teacher{

	background-color: #c0392b !important;
	color: #ecf0f1 !important;
}

.header_update_teacher_configuration{

	background-color: #27ae60 !important;
	color: #ecf0f1 !important;

}

.header_classroom{

	background-color: #2980b9 !important;

	color: #ecf0f1 !important;
}



.td_graphs{

	width: 120px;
	height: 50px;
	color: #303030;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
 
}

 .titleh1{
 	margin-left: 15px;
 	font-weight:400;
 	margin-bottom: 30px;
 	
 }

 #div_btn_classroom{

 	margin-bottom: 20px;

 }
.labsStudents{
	font-weight:bold;
	color: #2c3e50;
	font-size: 13px;
}

.pStudents{

	margin-bottom: 15px;

}

.divRight{

	padding:20px 20px 20px 20px;
	float: right;
}

.divGraphs{

	margin-right: 400px;
}

.tr_green{


	background-color: #A2CD5A !important;
}

.tr_red{

	background-color: #F08080 !important;

}

.tr_orange{

	background-color: #FF7F50 !important;

}

.stats{
	float: right;
	margin-top: 25px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.content_stats{

	text-align: center;
	float: left;  
}



#dt_results{


	width: 700px;
}


.class_info{

	float: right;
	text-align: center;
	margin-right: 10px;
	background-color: #f1c40f !important;
	color: #2c3e50;
	
}
.header_tables{

	background-color: #bdc3c7 !important;
	border-radius: 1px;
	border-color: #bdc3c7 !important;
}

.txt{

	font-weight: bolder;

}


.title{
	padding-left: 20px;
	margin-right: 10px;
	padding-top: 10px;
}

.logo{
	font-weight: bolder;

	color: #95a5a6;
	margin-left: 10px;
}

.div_logout{
	padding-top: 5px;
	color: #95a5a6 !important;
	font-weight: bold;
	text-decoration: none;
}

.div_logout a:hover{

	color: #95a5a6 !important;
}

#add_classroom{

	background-color: #e67e22;
	border-color: #e67e22 !important;
	border: 0px 0px 0px 0px;
}



.hidden{

	visibility: hidden;

}

#refresh_results{

	margin-right: 15px;
}

.head_tables{

	font-weight: bolder !important;
	color: #2c3e50 !important;
}


#last_update{

	color: #d35400;
	font-weight: bolder;
}

.class_link{

	font-weight: bolder;
	color: #34495e !important;
}

.name_student_in_suggestions{

	color: #2980b9;

}

.tit_modal{

	font-size: 16px;
	color: #2c3e50 !important;
}

.more_info_stats{

	padding-top: 15px;
	font-size: 14px;
	padding-left: 35px;
	font-weight: bold;
	color:  #d35400 !important;
	

}

.btn-regstro{

	background-color: #2980b9;
	color: #ecf0f1;
	margin-bottom: 15px !important;
	margin-right: 10px !important;

}

.txt-login{

	color: #bdc3c7 !important;
	margin-bottom: 35px !important;
}

#dt_classroom{

	width: 200px !important;
}