{% extends left_menu %}
{% block body %}
{% load staticfiles %}
        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

<div id="content">

                <!-- row -->
                <div class="row">
                
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center error-box">
                                    <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error 500</h1>
                                    <h2 class="font-xl"><strong>Oooops, Algo esta mal!</strong></h2>
                                    <br />
                                    <p class="lead semi-bold">
                                        <strong>Hubo un error inesperado. Lo sentimos.</strong><br><br>
                                        <small>
                                            Estamos trabajando para resolver el problema. Por favor espere un momento, y vuelva a intentarlo <br> 
                                        </small>
                                    </p>
                                    <ul class="error-search text-left font-md">
                                        <li><a href="javascript:void(0);"><small>Ir a aulas<i class="fa fa-arrow-right"></i></small></a></li>
                                        
                                    </ul>
                                </div>
                
                            </div>
                
                        </div>
                
                    </div>
                    
                </div>
                <!-- end row -->

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->


{% endblock %}

{% block scripts %}  

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        
        <script src="{% static "js/plugin/datatables/DT_bootstrap.js" %}"></script>
                        
       
        
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();
               
            
                });/*cieero pagesetup*/
        </script>
        
    
     
{% endblock %}