{% extends template_base %}
{% block body %}
{% load staticfiles %}
        
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<!-- <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

		< SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables 
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.css">-->

		<!-- SmartAdmin RTL Support is under construction
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

	</head>
	<body class="">
		<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

		<!-- HEADER -->
		<header id="header">
			<div id="logo-group">

				<!-- PLACE YOUR LOGO HERE -->
				
				<!-- END LOGO PLACEHOLDER -->

				<!-- Note: The activity badge color changes when clicked and resets the number to 0
				Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
				<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

				<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
				<div class="ajax-dropdown">

					<!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="activity" id="ajax/notify/mail.html">
							Msgs (14) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="ajax/notify/notifications.html">
							notify (3) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="ajax/notify/tasks.html">
							Tasks (4) </label>
					</div>

					<!-- notification content -->
					<div class="ajax-notifications custom-scroll">

						<div class="alert alert-transparent">
							<h4>Click a button to show messages here</h4>
							This blank page message helps protect your privacy, or you can show the first message here automatically.
						</div>

						<i class="fa fa-lock fa-4x fa-border"></i>

					</div>
					<!-- end notification content -->

					<!-- footer: refresh area -->
					<span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>
					<!-- end footer -->

				</div>
				<!-- END AJAX-DROPDOWN -->
			</div>

			<!-- projects dropdown -->
			<div id="project-context">

				<span class="label">Projects:</span>
				<span id="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown">Recent projects <i class="fa fa-angle-down"></i></span>

				<!-- Suggestion: populate this list with fetch and push technique -->
				<ul class="dropdown-menu">
					<li>
						<a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>
					</li>
					<li>
						<a href="javascript:void(0);">Notes on pipeline upgradee</a>
					</li>
					<li>
						<a href="javascript:void(0);">Assesment Report for merchant account</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
					</li>
				</ul>
				<!-- end dropdown-menu-->

			</div>
			<!-- end projects dropdown -->

			<!-- pulled right: nav area -->
			<div class="pull-right">

				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->

				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="login.html" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<!-- end logout button -->

				<!-- search mobile button (this is hidden till mobile view port) -->
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<!-- end search mobile button -->

				<!-- input: search field -->
				<form action="#search.html" class="header-search pull-right">
					<input type="text" placeholder="Find reports and more" id="search-fld">
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
					<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
				</form>
				<!-- end input: search field -->

				<!-- multiple lang dropdown : find all flags in the image folder -->
				<ul class="header-dropdown-list hidden-xs">
					<li>
						 US </span> <i class="fa fa-angle-down"></i> </a>
						
					</li>
				</ul>
				<!-- end multiple lang -->

			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">

			<!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
					
					<a href="javascript:void(0);" id="show-shortcut">
						
						<span>
							john.doe 
						</span>
						<i class="fa fa-angle-down"></i>
					</a> 
					
				</span>
			</div>
			<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->
			<nav>
				<!-- NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional hre="" links. See documentation for details.
				-->

				<ul>
					<li>
						<a href="index.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
					</li>
					
				</ul>
			</nav>
			<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">
			
			<div id="ribbon"><!-- RIBBON -->

				<span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>
						Tables
					</li>
					<li>
						Data Tables
					</li>
				</ol>
			</div><!-- END RIBBON -->
			

			<!-- MAIN CONTENT -->
			<div id="content">
				<!-- Aulas -->

				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="add_classroom">Agregar Aula</button>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h4 class="modal-title" id="myModalLabel">Agregar aula</h4>
								</div><!-- modal-header -->
								<div class="modal-body">	
								<input type="hidden" id="token" value="{{csrf_token}}"></input>											
									<form id="classroom-form" class="smart-form" novalidate="novalidate" method="POST">
		                            {% csrf_token %}
									<fieldset>
										<div class="row">
											<section class="col col-6">
												<label class="select">
													<select name="country" id="select_country">
		                                                
													</select> <i></i> </label>
											</section>
											<section class="col col-6">
												    <label class="select">
		                                            <select name="department" id="select_department">
		                                                
		                                            </select> <i></i> </label>					                                    
											</section>
										</div> <!-- row  -->	
										<div class="row">										
											<section class="col col-6">
												    <label class="select">
		                                            <select name="school" id="select_school">
		                                                <option value="0" selected="" disabled="">Escuela</option>
		                                                {% for s in schools %}
		                                                <option value="1">{{s.name}}</option>
		                                                {% endfor %}
		                                            </select> <i></i> </label>					                                    
											</section>
											<section class="col col-6">
												<label class="select">
													<select name="grade" id="select_grade" >
														<option value="0" selected="" disabled="">Grado</option>
		                                                {% for g in grades%}
														<option value="1">{{g.name}}</option>
														{% endfor %}
													</select> <i></i> </label>
											</section>
										</div><!-- row  -->
										<div class="row">
											<section class="col col-6">
												<label for="className" class="input">
													<input type="text" name="className" id="class_name" placeholder="Clase">
												</label>
											</section>
											<section class="col col-6">
												<label class="select">
													<select name="shift" id="select_shift">
														<option value="0" selected="" disabled="">Turno</option>
														<option value="MORNING">Matutino</option>
														<option value="EVENING">Vespertino</option>
														<option value="FULL_TIME">Tiempo Completo</option>
														<option value="OTHER">Otro</option>
														
													</select> <i></i> </label>
											</section>
										</div>	<!-- row  -->	
									</fieldset>
									<div class="modal-footer">
										<footer>
											<button type="submit" class="btn btn-primary" id="subtmit_classroom">
												Agregar aula
											</button>
										</footer>
								</form>
							</div><!-- modal-footer -->
						</div><!-- modal-body -->
					</div><!-- modal-content -->																								
				</div><!-- /.modal-dialog -->
			</div>
			<!-- Aulas *******************************************************************************************-->
				<!-- widget grid -->
				<section id="widget-grid" class="">									
									
					<!-- row -->
					<div class="row">
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Aulas </h2>				
								</header>
							</div>																				<!--  -->	
					</div><!-- row -->
								
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->				
					</div><!-- end widget edit box -->
																																			
					<!-- widget content -->
					<div class="widget-body no-padding">
						<div class="widget-body-toolbar">

						</div>
						
						<table id="dt_classroom" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Grado</th>
									<th>Clase</th>									
							</thead>
							<tbody>
																
							</tbody>
						</table>

					</div><!-- end widget content -->					

				</section><!-- end widget grid -->
				
			</div><!-- END MAIN CONTENT -->
			
		</div><!-- END MAIN PANEL -->

{% endblock %}

{% block scripts %}  

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" ></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="{% static "js/libs/jquery-2.0.2.min.js" %}" ><\/script>');
            }
        </script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColReorder.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/FixedColumns.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColVis.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ZeroClipboard.js" %}"></script>
        <script src="{% static "js/plugin/datatables/media/js/TableTools.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/DT_bootstrap.js" %}"></script>
   
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" ></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="{% static "js/libs/jquery-ui-1.10.3.min.js" %}"><\/script>');
            }
        </script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
        <script src="{% static "js/plugin/jquery-touch/jquery.ui.touch-punch.min.js" %}"></script> -->

        <!-- BOOTSTRAP JS -->
        <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
        <script src="{% static "js/plugin/jquery-validate/jquery.validate.min.js" %}"></script>
        <!-- MAIN APP JS FILE -->
        <script src="{% static "js/app.js" %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();
               	            
                });
        </script>
        <script src="{% static "js/functions.js" %}"></script>
    
     
{% endblock %}