{% extends left_menu %}
{% block body_tag %}
<body id="login"> <!-- class="animated fadeInDown"-->
{% endblock %}	
{% block body %}
{% load staticfiles %}
        
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
		
		<!-- GOOGLE FONT -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

	</head>
	<body class="">
		<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

		<!-- HEADER -->
        <header id="header">
            <div id="logo-group">
                <!-- PLACE YOUR LOGO HERE -->
                 <h1 class="logo"> <img src="{% static 'img/icono.png' %}"> EduAulas</h1>
                <!-- END LOGO PLACEHOLDER -->
            </div>
            <div class="pull-right div_logout">

                ¡Bienvenido <a href="/aulas/lista/" rel="tooltip" data-placement="bottom" data-original-title="Ir a configuración personal.">{{request.user}} !</a><br>
                <a href="/logout/">Cerrar sesión</a>
            </div>
        </header>
        <!-- END HEADER -->

		

		<!-- MAIN PANEL -->
		<div id="main" role="main">
						
			
			<!-- MAIN CONTENT -->
			<div id="content">
				<!-- Aulas -->
				<div id="div_btn_classroom">
					<button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" id="add_classroom">Agregar Aula</button>
				</div>
				

			
			<!--Aulas *******************************************************************************************-->
				<!-- widget grid -->
									
	<div class="well no-padding">								
					<header class= "header_classroom">
						<h6>Mis Aulas </h6>				
					</header>																																										

						<table id="dt_classroom" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Codigo</th>
									<th>Grado</th>
									<th>Clase</th>
									<th>Turno</th>
									<th>Escuela</th>
									<th></th>

																		
							</thead>
							<tbody>
																
							</tbody>
						</table>

			
		</div>			
				
				<div id="teacher" class="row">
						<div id = "teacher_configuration_info" class="well no-padding animated fadeInDown">
							<form id="update-teacher-config" class="smart-form client-form" method="post">
									{% csrf_token %}
									<header class="header_update_teacher_configuration">
										<h6>Configuración</h6> 

									</header>

									<fieldset id="update_techaer_first">
										<section>
											<label for="" class="label">Puntos correctos</label>
											<label class="input"> <i class="icon-append fa fa-cogs "></i>
												<input type="text" name="config1" placeholder="Puntos correctos" id = "correct_points">
												<b class="tooltip tooltip-bottom-right">Puntos para que un ejercicio se considere resuelto de forma correcta</b> </label>
										</section>

										<section>
											<label for="" class="label">Puntos incorrectos</label>
											<label class="input"> <i class="icon-append fa  fa-cogs"></i>
												<input name="config2" placeholder="Puntos incorrectos" id = "incorrect_points">
												<b class="tooltip tooltip-bottom-right">Puntos para que un ejercicio se considere resuelto de forma incorrecta</b> </label>
										</section>

										<section>
											<label for="" class="label">Cantidad minima de ejercicios</label>
											<label class="input"> <i class="icon-append fa fa-cogs "></i>
												<input  name="config3" placeholder="Cantidad minima de ejercicios" id="quantity_exercises" >
												<b class="tooltip tooltip-bottom-right">Cantidad de ejercicios para poder evaluar a un alumno.</b> </label>
										</section>
										<section>
											<label for="" class="label">Tiempo de actualización del panel</label>
											<label class="input"> <i class="icon-append fa fa-cogs "></i>
												<input  name="config3" placeholder="Tiempo de actualización del panel" id="time_to_update_panel">
												<b class="tooltip tooltip-bottom-right">Tiempo para actualizar el panel de forma automática (en segundos).</b> </label>
										</section>

										
									</fieldset>

									<footer>
										<button type="submit" class="btn btn-primary" id = "btn_sub">
											Guardar
										</button>
									</footer>

									<div class="message">
										<i class="fa fa-check"></i>
										{% if registered %}
										<p>
											{{ msg }}
										</p>
										{% endif %}
									</div>
								</form>
						</div> 
						<div id = "teacher_info" class="well no-padding animated fadeInDown"> 
								<form id="update-teacher" class="smart-form client-form" method='POST' >
									{% csrf_token %}
									<header class="header_update_teacher">
									<h6>Actualizar datos</h6>
									</header>

									<fieldset id="update_techaer_first">
										<section >
											<label class="input"> <i class="icon-append fa fa-user"></i>
												<input type="text" name="username" placeholder="Usuario" id="user" disabled="disabled">
												<b class="tooltip tooltip-bottom-right">Necesario para entrar al panel</b> </label>
										</section>

										<section>
											<label class="input"> <i class="icon-append fa fa-envelope"></i>
												<input type="email" name="email" placeholder="Correo electrónico" id="email" value="">
												<b class="tooltip tooltip-bottom-right">Necesario para verificar su cuenta</b> </label>
										</section>
										<section >
												<label class="input"> 
													<div class="bfh-datepicker" data-max="today" data-format="y-m-d" data-close="true" id="dateofbirth"></div>
												</label>
											</section>
										<label class="label">¿Desea modificar la contraseña?</label>
													<div class="inline-group">
														<label class="radio">
															<input type="radio" name="radio-inline" id="change_yes" class="change_password">
															<i></i>Si</label>
														<label class="radio">
															<input type="radio" name="radio-inline" checked="checked" id="change_no" class="change_password">
															<i></i>No</label>
													</div>		
										<div  id="psw" hidden="hidden">
											<section>
												<label class="input"> <i class="icon-append fa fa-lock"></i>
												<input type="password" name="password" placeholder="Contraseña" id="password" disabled="disabled">
												<b class="tooltip tooltip-bottom-right">Contraseña que utilizará para registrarse</b> </label>
											</section>
											<section>
												<label class="input"> <i class="icon-append fa fa-lock"></i>
												<input type="password" name="passwordConfirm" placeholder="Confirmar contraseña" id="passwordConfirm"  disabled="disabled">
												<b class="tooltip tooltip-bottom-right">Escriba la misma contraseña que en el campo anterior, verificaremos si hay posibles errores</b> </label>
											</section>
										</div>	
									</fieldset>

									<fieldset id="update_techaer_second">
										<div class="row">
											<section >
												<label class="input">
													<input type="text" name="firstname" id="name" placeholder="Nombre" value="">
												</label>

											</section>
											<section >
												<label class="input">
													<input type="text" name="lastname" placeholder="Apellido" id ="last_name" value="">
												</label>
											</section>
										</div>

										<div class="row">
											<section > 
												<label class="select">
													<select name="gender" value= "" id="gender">
														<option value="0" selected="" disabled="">Sexo</option>
														<option value="1">Masculino</option>
														<option value="2">Femenino</option>
														<option value="3">No deseo contestar</option>
													</select> <i></i>
												</label>
											</section>
										</div>
									</fieldset>
									<footer>
										<button class="btn btn-primary" id = "btn_update_techer_info" type='submit'>
											Modificar
										</button>
									</footer>

									<div class="message">
										<i class="fa fa-check"></i>
										{% if registered %}
										<p>
											{{ msg }}
										</p>
										{% endif %}
									</div>
								</form>
						</div> 		
					</div> <!-- close teacher_info -->
				</div>	<!-- close teacher -->
				<div class="clear">
					
				</div>
			</div><!-- END MAIN CONTENT -->
					
		</div><!-- END MAIN PANEL -->
<!-- *********************************************************************************************************************************-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Agregar aula</h4>
			</div><!-- modal-header -->
			<div class="modal-body">	
				<input type="hidden" id="token" value="{{csrf_token}}"></input>											
				<form id="classroom-form" class="smart-form" novalidate="novalidate" method="POST">
	            	{% csrf_token %}
					<fieldset>
						<div class="row">
							<section class="col col-6">
								<label class="select">
								<select name="country" id="select_country" title="País">	                                
								</select> <i></i> </label>
							</section>
							<section class="col col-6">
							    <label class="select">
	                            <select name="department" id="select_department" title="Departamento">
	                                
	                            </select> <i></i> </label>					                                    
							</section>
						</div> <!-- row  -->	
						<div class="row">										
							<section class="col col-6">
							    <label class="select">
	                            <select name="school" id="select_school" title="Escuela">                                
	                            </select> <i></i> </label>					                                    
							</section>
							<section class="col col-6">
								<label class="select">
								<select name="grade" id="select_grade" title="Grado">								
								</select> <i></i> </label>
							</section>
						</div><!-- row  -->
						<div class="row">
							<section class="col col-6">
								<label for="className" class="input">								
								<input maxlength= "1" type="text" name="className"  id="class_name" title='Clase'>
								</label>
							</section>
							<section class="col col-6">
								<label class="select">
									<select name="shift" id="select_shift" title="Turno">
										<option value="0" selected="" disabled="">Turno</option>
										<option value="Matutino">Matutino</option>
										<option value="Vespertino">Vespertino</option>
										<option value="Tiempo Completo">Tiempo Completo</option>
										<option value="Otro">Otro</option>
									</select> <i></i> </label>
							</section>
						</div>	<!-- row  -->	
					</fieldset>
					<div class="modal-footer">
						<footer>					
							<button type="submit" class="btn btn-primary" id="save">
								Guardar
							</button>
						</footer>
					</div><!-- modal-footer -->	
				</form>		
			</div><!-- modal-body -->
		</div><!-- modal-content -->																								
	</div><!-- /.modal-dialog -->
</div><!--modal fade-->
<!-- *********************************************************************************************************************************-->
<div class="modal fade" id="modal_dlt_classroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4><i class='fa fa-warning modal-title'></i> Eliminar aula</h4>
					
				</div><!-- modal-header -->
				<div class="modal-body">	
				<input type="hidden" id="token" value="{{csrf_token}}"></input>
				<input type="hidden" id="action" ></input>											
					<form id="classroom-form" class="smart-form" novalidate="novalidate" method="POST">
                    {% csrf_token %}
					<fieldset>
						<div class="row">
								<h6 id="txt_delete"></h6>
						</div>	<!-- row  -->	
						
					</fieldset>
					<div class="modal-footer">
						<footer>
							<button type="submit" class="btn btn-danger" id="dlt_classroom"><i class='fa fa-trash-o'></i>
								Eliminar
							</button>
						</footer>
				</form>
			</div><!-- modal-footer -->
		</div><!-- modal-body -->
	</div><!-- modal-content -->																								
</div><!-- /.modal-dialog -->
<!-- *********************************************************************************************************************************-->
{% endblock %}

{% block scripts %}  
	
	    <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.js" %}"></script>
        
        <script src="{% static "js/plugin/datatables/DT_bootstrap.js" %}"></script>
       
        <script src="{% static "js/bootstrap-formhelpers.js" %}"></script>


        
   	    <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();

                
               	           
                });
        </script>
        <script src="{% static "js/functions_classroom.js" %}"></script>
    
     
{% endblock %}

