{% extends left_menu %}
{% block body_tag %}
<body id="login" class="animated fadeInDown">
{% endblock %}	
{% block body %}
{% load staticfiles %}
        
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	
		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
		
		<!-- GOOGLE FONT -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

	</head>
	<body class="">
		<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

		<!-- HEADER -->
		<header id="header">
			
			<h1 class="txt-color-red login-header-big">EduAulas</h1>
	
		</header>
		<!-- END HEADER -->

		

		<!-- MAIN PANEL -->
		<div id="main" role="main">
			
			
			<a href="http://127.0.0.1:8080/panel/lista/" title="Ir al aula"></a>

			<!-- MAIN CONTENT -->
			<div id="content">
				<!-- Aulas -->
				<div id="div_btn_classroom">
					<button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" id="add_classroom">Agregar Aula</button>
				</div>
				
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h4 class="modal-title" id="myModalLabel">Agregar aula</h4>
								</div><!-- modal-header -->
								<div class="modal-body">	
								<input type="hidden" id="token" value="{{csrf_token}}"></input>											
									<form id="classroom-form" class="smart-form" novalidate="novalidate" method="POST">
		                            {% csrf_token %}
									<fieldset>
										<div class="row">
											<section class="col col-6">
												<label class="select">
													<select name="country" id="select_country">
		                                                
													</select> <i></i> </label>
											</section>
											<section class="col col-6">
												    <label class="select">
		                                            <select name="department" id="select_department">
		                                                
		                                            </select> <i></i> </label>					                                    
											</section>
										</div> <!-- row  -->	
										<div class="row">										
											<section class="col col-6">
												    <label class="select">
		                                            <select name="school" id="select_school">
		                                                <option value="0" selected="" disabled="">Escuela</option>
		                                                {% for s in schools %}
		                                                <option value="1">{{s.name}}</option>
		                                                {% endfor %}
		                                            </select> <i></i> </label>					                                    
											</section>
											<section class="col col-6">
												<label class="select">
													<select name="grade" id="select_grade" >
														<option value="0" selected="" disabled="">Grado</option>
		                                                {% for g in grades%}
														<option value="1">{{g.name}}</option>
														{% endfor %}
													</select> <i></i> </label>
											</section>
										</div><!-- row  -->
										<div class="row">
											<section class="col col-6">
												<label for="className" class="input">
													<input type="text" name="className" id="class_name" placeholder="Clase">
												</label>
											</section>
											<section class="col col-6">
												<label class="select">
													<select name="shift" id="select_shift">
														<option value="0" selected="" disabled="">Turno</option>
														<option value="MORNING">Matutino</option>
														<option value="EVENING">Vespertino</option>
														<option value="FULL_TIME">Tiempo Completo</option>
														<option value="OTHER">Otro</option>
														
													</select> <i></i> </label>
											</section>
										</div>	<!-- row  -->	
									</fieldset>
									<div class="modal-footer">
										<footer>
											<button type="submit" class="btn btn-primary" id="subtmit_classroom">
												Agregar aula
											</button>
											<button type="submit" class="btn btn-primary" id="subtmit_classroom_edit">
												Modificar aula
											</button>
										</footer>
								</form>
							</div><!-- modal-footer -->
						</div><!-- modal-body -->
					</div><!-- modal-content -->																								
				</div><!-- /.modal-dialog -->
			</div>
			<!-- Aulas *******************************************************************************************-->
				<!-- widget grid -->
				<section id="widget-grid" class="">									
									
					<!-- row -->
					<div class="row">
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Aulas </h2>	
			
								</header>
							</div>																				<!--  -->	
					</div><!-- row -->
								
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->				
					</div><!-- end widget edit box -->
																																			
					<!-- widget content -->
					<div class="widget-body no-padding">
						<div class="widget-body-toolbar">

						</div>
						
						<table id="dt_classroom" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Codigo</th>
									<th>Grado</th>
									<th>Clase</th>
									<th>Turno</th>
									<th>Escuela</th>
									<th></th>

																		
							</thead>
							<tbody>
																
							</tbody>
						</table>

					</div><!-- end widget content -->					

				</section><!-- end widget grid -->
				
			</div><!-- END MAIN CONTENT -->
			
		</div><!-- END MAIN PANEL -->



<div class="modal fade" id="modal_dlt_classroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4><i class='fa fa-warning modal-title'></i> Eliminar aula</h4>
					
				</div><!-- modal-header -->
				<div class="modal-body">	
				<input type="hidden" id="token" value="{{csrf_token}}"></input>											
					<form id="classroom-form" class="smart-form" novalidate="novalidate" method="POST">
                    {% csrf_token %}
					<fieldset>
						<div class="row">
								<h6 id="txt_delete"></h6>
						</div>	<!-- row  -->	
						
					</fieldset>
					<div class="modal-footer">
						<footer>
							<button type="submit" class="btn btn-danger" id="dlt_classroom"><i class='fa fa-trash-o'></i>
								Eliminar
							</button>
						</footer>
				</form>
			</div><!-- modal-footer -->
		</div><!-- modal-body -->
	</div><!-- modal-content -->																								
</div><!-- /.modal-dialog -->

{% endblock %}

{% block scripts %}  

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" ></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="{% static "js/libs/jquery-2.0.2.min.js" %}" ><\/script>');
            }
        </script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColReorder.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/FixedColumns.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColVis.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ZeroClipboard.js" %}"></script>
        <script src="{% static "js/plugin/datatables/media/js/TableTools.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/DT_bootstrap.js" %}"></script>
   		<link href="{% static "css/style.css" %}" media="screen" rel="stylesheet" type="text/css">
   		<script src="{% static "js/notification/SmartNotification.min.js" %}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" ></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="{% static "js/libs/jquery-ui-1.10.3.min.js" %}"><\/script>');
            }
        </script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
        <script src="{% static "js/plugin/jquery-touch/jquery.ui.touch-punch.min.js" %}"></script> -->

        <!-- BOOTSTRAP JS -->
        <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
        <script src="{% static "js/plugin/jquery-validate/jquery.validate.min.js" %}"></script>
        <!-- MAIN APP JS FILE -->
        <script src="{% static "js/app.js" %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();

                
               	           
                });
        </script>
        <script src="{% static "js/functions_classroom.js" %}"></script>
    
     
{% endblock %}

