{% extends left_menu %}
{% block body %}
{% load staticfiles %}
        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

        <!-- MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>
                        Contenidos
                    </li>
                </ol>


            </div>
            <!-- END RIBBON -->

           <!-- MAIN CONTENT -->
           <div>
                
           </div>
            <div id="content">
                <input type="hidden" id="token" value="{{csrf_token}}"></input>
                <input type="hidden" id="code" value="{{code}}"></input>
               <h1 class="titleh1 txt-color-orange">Seleccione el área, la materia y unidad que desea ver.</h1>
                <div id="filters">    
                    <form id="classroom-form" class="smart-form" novalidate="novalidate" method="post">
                        {% csrf_token %}
                    <section class="col col-2">
                        <label class="select" >
                        <select id="select_area">
                            <option value="0" selected="" disabled="">Área</option>
                            {% for a in areas %}
                            <option value="{{a.id}}" >{{a.name}}</option>
                            {% endfor %}
                        </select>   
                        </select> <i></i> </label>
                    </section>    
                    <section class="col col-2">
                        <label class="select">
                        <select id="select_subject" >
                            
                            
                        </select>   
                        </select> <i></i> </label>
                    </section>  
                    <section class="col col-3">
                        <label class="select">
                        <select name="unit" id="select_unit">
                            
                        </select>   
                        </select> <i></i> </label>
                    </section>  
                    

                                
                </form>
                   
                </div> <!-- filters -->   

                
                <!-- widget grid -->
                <section id="widget-grid" class="">
                
                    <!-- row -->
                    <div class="row">
                
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="well well-sm well-light">
                                <h3 id="title_subject"></h3>

                                <div id="contents">
                                    <ul>
                                        <li>
                                            <a href="#experimentos">Experimentos</a>
                                        </li>
                                        <li>
                                            <a href="#lecturas">Lecturas</a>
                                        </li>
                                        <li>
                                            <a href="#ejercicios">Ejercicios</a>
                                        </li>
                                        <li>
                                            <a href="#deberes">Tareas</a>
                                        </li>
                                    </ul>
                                    <div id="experimentos">
                                    </div>
                                    <div id="lecturas">
                                    </div>
                                    <div id="ejercicios">
                                    </div>
                                    <div id="deberes">
                                    </div>


                                </div>

                                

                            </div>  
                            

                
                        </article>
                        <!-- WIDGET END -->
                
                    </div>
                
                    <!-- end row -->
                
                </section>
                <!-- end widget grid -->

            </div>
        </div>
        <!-- END MAIN PANEL -->


{% endblock %}

{% block scripts %}  

        <script src="{% static "js/functions_exercises.js" %}"></script>
        <!-- MAIN APP JS FILE -->
        <script type="text/javascript">
            $(document).ready(function() {
               
                $('#contents').tabs();
                

                         
            
                });/*cieero pagesetup*/
        </script>
            
        
    
     
{% endblock %}