{% extends template_base %}
{% block body %}
{% load staticfiles %}
	{% block left_menu %}
        {{ block.super }}
    {% endblock %}

<form method="post" action="{% url django.contrib.auth.views.password_reset %}">
    {% csrf_token %}
    <p>Ingrese su dirección de correo electrónico<br>
    Recibirá un enlace para crear una nueva contraseña via email.</p>
                    
    <input type="email" name="email" 
        placeholder="Ingrese su correo"><br/>

    <button type="submit">Enviar nueva Contraseña</button>
</form>
{% endblock %}