{% extends template_base %}

{% block left_menu %}
    {% load staticfiles %}
    <!-- HEADER -->
        <header id="header">
            <div id="logo-group">

                <!-- PLACE YOUR LOGO HERE -->
                
                <!-- END LOGO PLACEHOLDER -->

                
            </div>

            
        </header>
        <!-- END HEADER -->
	<aside id="left-panel">
    <!-- User info -->
    

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional hre="" links. See documentation for details.
        -->

        <ul>
            <li>
                <a href="/aulas/lista/" title="Mis aulas"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Mis Aulas</span></a>
            </li>
            <li >
                <a href="" id='option_panel' title="Trabajando en clase"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Trabajando en clase</span></a>
            </li>
            <li >
                <a href="" id='option_students' title="Alumnos"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Alumnos</span></a>
            </li>
            <li >
                <a href="" id='option_contents' title="Contenidos"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Contenidos</span></a>
            </li>
        </ul>
    </nav>
    <!-- User info -->
    
    <!-- end user info -->

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    
    <!--<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>-->

</aside>
{% endblock %}

