{% extends template_base %}

{% block left_menu %}
    {% load staticfiles %}
    <!-- HEADER -->
        <header id="header">
            <div id="logo-group">

                <!-- PLACE YOUR LOGO HERE -->
                 <h1 class="logo"> <img src="{% static 'img/icono.png' %}"> EduAulas</h1>
                <!-- END LOGO PLACEHOLDER -->
                
                
            </div>
            <div class="pull-right div_logout">
                <!-- collapse menu button -->
                <div id="hide-menu" class="btn-header pull-right fa-spinner">
                    <span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
                </div>
                <!-- end collapse menu -->
                <div id="logout" class="transparent pull-right">
                    ¡Bienvenido <a href="/aulas/lista/" rel="tooltip" data-placement="bottom" data-original-title="Ir a configuración personal.">{{request.user}} !</a><br>
                    <a href="/logout/">Cerrar sesión</a>
                </div>    
            </div>
        </header>
        <!-- END HEADER -->
	<aside id="left-panel">

    <nav>

        <ul>
            <li>
                <a href="/aulas/lista/" title="Mis aulas"><i class="glyphicon glyphicon-align-justify"></i> <span class="menu-item-parent">Mis Aulas</span></a>
            </li>
            <li >
                <a href="" id='option_panel' title="Trabajando en clase"><i class="glyphicon glyphicon-book"></i> <span class="menu-item-parent">Trabajando en clase</span></a>
            </li>
            <li >
                <a href="" id='option_students' title="Alumnos"><i class="glyphicon glyphicon-user"></i> <span class="menu-item-parent">Alumnos</span></a>
            </li>
            
            <li>
                <a href="#" ><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Consultas</span></a>
                <ul>
                    <li>
                        <a id='option_stats_by_topic' href="">Gráficas por áreas temáticas</a>
                    </li>
                    <li>
                        <a id='option_stats_by_learning_profiles' href="">Gráficas por perfiles de aprendizaje</a>
                    </li>
                   
                </ul>
            </li>
            <li >
                <a id="option_contents" title="Contenidos" href=""><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Contenidos</span></a>
            </li>
            

        </ul>
    </nav>
</aside>

{% endblock %}

