
{% extends left_menu %}

{% block body %}
{% load staticfiles %}
        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

        <!-- MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>
                        Trabajando en clase
                    </li>
                   <li>
                        Aula: {{code}}
                    </li>
                </ol>


            </div>
            <!-- END RIBBON -->

           <!-- MAIN CONTENT -->
           <div >
                
           </div>

            <div id="content">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Ejercicios sugeridos</h4>
                            </div><!-- modal-header -->
                            <div class="modal-body">    
                                <div id='content_suggestions' ></div>
                                <div class="modal-footer">
                                    <div style="width:200px; margin:0 auto">
                                    <ul class="pager">
                                        <li id='prev' class="disabled">
                                            <a  href="javascript:void(0);"   >&larr; Anterior</a>
                                        </li>
                                        <li id ='next'  class="next">
                                            <a  href="javascript:void(0);">Siguiente &rarr;</a>
                                        </li>
                                    </ul>
                                </div>          
                                </div><!-- modal-footer -->
                            </div><!-- modal-body -->
                        </div><!-- modal-content -->                                                                                                
                    </div><!-- /.modal-dialog -->
                </div>
                <input type="hidden" id="token" value="{{csrf_token}}"></input>
                <input type="hidden" id="code" value="{{code}}"></input>
                <header >
                    <h1>Trabajando en clase</h1>
                    
                </header>
                <h5>Seleccione el área, la materia y la unidad en la cual va a comenzar a trabajar.</h5>
                <div id="filters">    
                    <form id="classroom-form" class="smart-form" novalidate="novalidate" method="post">
                        {% csrf_token %}
                    <section class="col col-2">
                        <label class="select" >
                        <select id="select_area">
                            <option value="0" selected="" disabled="">Área</option>
                            {% for a in areas %}
                            <option value="{{a.id}}" >{{a.name}}</option>
                            {% endfor %}
                        </select>   
                        </select> <i></i> </label>
                    </section>    
                    <section class="col col-2">
                        <label class="select">
                        <select id="select_subject" >
                            
                            
                        </select>   
                        </select> <i></i> </label>
                    </section>  
                    <section class="col col-3">
                        <label class="select">
                        <select name="unit" id="select_unit">
                            
                        </select>   
                        </select> <i></i> </label>
                    </section>  
                    

                                
                </form>
                   <a href="javascript:void(0);" class="btn btn-labeled btn-info space" id='refresh_results'rel="tooltip" data-placement="bottom" data-original-title=" Se actualizará la tabla con los nuevos datos." data-html="true" > <span class="btn-label "><i class="glyphicon glyphicon-refresh"></i></span>Actualizar datos </a>
                   <a href="javascript:void(0);" class="btn btn-labeled btn-info bg-color-green" data-toggle="modal" data-target="#myModal" id='load_suggestions'rel="tooltip" data-placement="bottom" data-original-title=" Se abrira una ventana con las sugerencias de nuevos ejercicios." data-html="true" > <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Mostrar sugerencias</a>
                </div> <!-- filters -->   

                
                <!-- widget grid -->
                <section id="widget-grid" class="">
                
                    <!-- row -->
                    <div class="row">
                
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="true" data-widget-deletebutton="false">

                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                
                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"
                
                                -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                    <h2>Alumnos </h2>
                                    
                                    
                                </header>
                
                                <!-- widget div-->
                                <div>
                                    <a href='/contenido/ejercicio/'></a>
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                
                                    </div>
                                    <!-- end widget edit box -->
                
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="widget-body-toolbar">
                
                                        </div>
                                        <table  id="dt_alumnos" class="table">
                                            <thead>
                                                
                                            </thead>
                                            <tbody >                            
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end widget content -->
                
                                </div>
                                <!-- end widget div -->
                
                            </div>
                            <!-- end widget -->
                             
                
                        </article>
                        <!-- WIDGET END -->
                
                    </div>
                
                    <!-- end row -->
                
                </section>
                <!-- end widget grid -->

            </div>          
                                     
                
        </div>
        <!-- END MAIN PANEL -->


{% endblock %}

{% block scripts %}  


        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColReorder.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/FixedColumns.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColVis.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ZeroClipboard.js" %}"></script>
        <script src="{% static "js/plugin/datatables/media/js/TableTools.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/DT_bootstrap.js" %}"></script>

        <script src="{% static "js/notification/SmartNotification.min.js" %}"></script>

      
        <script src="{% static "js/functions_panel.js" %}"></script>
        
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();
                
                         
            
                });/*cieero pagesetup*/
        </script>
        
    
     
{% endblock %}