{% load i18n %}
{% load url from future %}
{% autoescape off %}

{% blocktrans %}
Este correo es enviado ya que usted solicito un reestablecimiento de la contraseña en el sitio {{ site_name }}.
{% endblocktrans %}

{% trans "Acceda a la pagina y escriba su nueva contraseña:" %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Este es su usuario en caso que lo haya olvidado:" %} {{ user.username }}

{% trans "Gracias por visitar nuestro sitio!" %}

{% blocktrans %}El equipo de {{ site_name }} {% endblocktrans %}

{% endautoescape %}