{% extends template_base %}



{% block body %}
<h4>Establecer nueva contraseña</h4>

<form action="" method="post">
    {% csrf_token %}
    {% if validlink %}
        <p>Ingrese su correo las dos veces. 
           Es para verificar que es ingresado correctamente.</p>
                
        <p>
            {{ form.new_password1.errors }}<br/>
            {{ form.new_password1 }}
        </p>
                
        <p class="button-height">
            {{ form.new_password2.errors }}<br/>
            {{ form.new_password2 }}
        </p>
    {% else %}
        <h4>Error al cambiar la contraseña</h4>
        <p>El enlace no es válido, haga la solicitud nuevamente.</p><br/>
    {% endif %}
            
    <button type="submit">Cambiar contraseña</button>
</form>
{% endblock %}