{% extends template_base %}


{% block body %}
<h4>Reestablecer contraseña</h4>
    

<p>Se olvidó de la contraseña? Ingrese su correo y le enviaremos una nueva.</p>
   
                
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    <div class="message red-gradient">{{ form.email.errors }}</div><br/>
    {% endif %}
            
    <p>E-mail address: {{ form.email }} <br/><br/>
       <input type="submit" value="Reestablecer contraseña"></p>
</form>
{% endblock %}