{% extends left_menu %}
{% block body %}
{% load staticfiles %}
        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

        <!-- MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Se actualizará la tabla con los nuevos ejercicios realizados" data-html="true"><i class="fa fa-refresh"></i></span> </span>

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>
                        Contenidos
                    </li>
                   <li>
                        Aula: {{code}}
                    </li>
                </ol>


            </div>
            <!-- END RIBBON -->

           <!-- MAIN CONTENT -->
           <div>
                
           </div>
            <div id="content">
                
                <!-- widget grid -->
                <section id="widget-grid" class="">
                
                    <!-- row -->
                    <div class="row">
                
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="well well-sm well-light">
                                <h3>{{subject}}
                                <br>
                                <small><strong>{{unit.letter}}</strong>: {{unit.name}}</small></h3>

                                <div id="contents">
                                    <div id="ejercicios">
                                        <div id="exercises">
                                            
                                        {% for ex in exercises %}
                                            <div id="exercise-{{ex.cuasimodo_exercise_id}}">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <img src="{{MEDIA_URL}}{{ex.img}}" alt="{{ex.cuasimodo_exercise_id}}" style="width:600px;height:480px;">    
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                {% if ex.teacher_guide %}
                                                                    <h3>Guía docente</h3>
                                                                    <p>{{ex.teacher_guide}}</p>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <hr/>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <h3>Enviar comentario a la editorial</h3>
                                                                <form method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" placeholder="Comentario a la Editorial" rows="6"></textarea>
                                                                    </div>
                                                                    <div class="btn btn-primary">
                                                                        Enviar
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <div id="deberes">
                                        <div id="homeworks">
                                            <ul>
                                            {% for h in homeworks %}
                                                <li>
                                                    <a href="#homework-{{h.cuasimodo_lecture_id}}">{{h.cuasimodo_lecture_id}}</a>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% for h in homeworks %}
                                            <div class="row">
                                                <div id="homework-{{h.cuasimodo_lecture_id}}">
                                                    <img src="{{MEDIA_URL}}{{h.img}}" alt="" style="width:600px;height:480px;">    
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>


                                </div>

                                

                            </div>  
                            

                
                        </article>
                        <!-- WIDGET END -->
                
                    </div>
                
                    <!-- end row -->
                
                </section>
                <!-- end widget grid -->

            </div>
        </div>
        <!-- END MAIN PANEL -->


{% endblock %}

{% block scripts %}  

        
        <!-- MAIN APP JS FILE -->
        <script type="text/javascript">
            $(document).ready(function() {
               
                $('#contents').tabs();
                $('#experiments').tabs();
                $('#lectures').tabs();
                $('#exercises').tabs();
                $('#homeworks').tabs();

                         
            
                });/*cieero pagesetup*/
        </script>
            
        
    
     
{% endblock %}