{% extends left_menu %}
{% load staticfiles %}
{% block body %}

        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

        <!-- MAIN PANEL -->
        <div id="main" role="main">

         <!-- MAIN CONTENT -->

            <div id="content">
    
                <div class="row title">
                    
                    <div class ="class_info well well-light col-sm-4 col-xs-12 pull-right">
                        <h6> Información del aula: </h6>
                        <p > <span class="txt">Código:</span> {{classroom.code}}  </p>
                        <p > <span class="txt">Clase: </span>{{classroom.grade}} {{classroom.class_letter}} </p>
                        <p > <span class="txt">Escuela:</span> {{classroom.school.name}} </p>
                    </div> <!-- row title-->
                        <div class="col-sm-8 col-xs-12 ">    
                        <header>
                            <h1>Estadísticas por áreas temáticas </h1>
                            <img src="/static/img/lapices.png" alt="" class="hidden-xs">
                        </header>
                    </div>
                </div>
              
                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="row well well-sm well-light">
                        <div class="widget-body">
                            <div class=" content_stats">
                                {% for k,value in dictionary_subjects_average.items %}
                                        <div class= "col-sm-4 col-xs-12">
                                            <h5>{{k}}</h5>
                                             <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="{{value.average}}" data-pie-size="180">
                                                <span class="percent percent-sign txt-color-blue font-xl semi-bold">{{value.average}}</span>
                                            </div>   
                                            <div class="more_info_stats">
                                                 <p>Para construir esta gráfica se evaluaron {{value.quantity_results_subject}} resultados de {{value.quantity_students}} alumnos. </p>                
                                             </div> 
                                        </div>
                                {%endfor%}    
                            </div>  <!-- end widget body -->
                        </div>  
                    </div>
                </div>  <!-- END content -->
            </div>  <!-- END MAIN PANEL -->
        </div>
        


{% endblock %}

{% block scripts %}  
        

        
          <script src="{% static "js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js" %}"></script>

                <!-- BOOTSTRAP JS -->
        
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();

                         
            
                });/*cieero pagesetup*/
        </script>
        
     
{% endblock %}