{% extends left_menu %}
{% load staticfiles %}
{% block body %}

        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

        <!-- MAIN PANEL -->
        <div id="main" role="main">

           
           <!-- MAIN CONTENT -->

            <div id="content">
                <div class="row title">
                   
                    <div class ="class_info well well-light col-sm-4 col-xs-12 pull-right">
                        <h6> Información del aula: </h6>
                        <p > <span class="txt">Código:</span> {{classroom.code}}  </p>
                        <p > <span class="txt">Clase: </span>{{classroom.grade}} {{classroom.class_letter}} </p>
                        <p > <span class="txt">Escuela:</span> {{classroom.school.name}} </p>
                    </div> <!-- row title-->
                     <div class="col-sm-8 col-xs-12 ">    
                        <header>
                            <h1>Estadísticas por perfiles de aprendizaje</h1>
                        </header>
                    </div>
                </div>
                
                <!-- widget div-->
                <div class="row">
                    <!-- widget content -->

                    <div class="widget-body title ">
                        <div class="well well-sm well-light  col-sm-12 col-xs-12">
                                
                            <div class= " col-sm-4 col-xs-12">
                                <h5>Meta cognitivo</h5>
                                 <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="{{metacognitive_percentage}}" data-pie-size="180">
                                    <span class="percent percent-sign txt-color-blue font-xl semi-bold">{{metacognitive_percentage}}</span>
                                </div>    
                            </div>
                            <div class= "col-sm-4 col-xs-12">
                                <h5>Cognitivo</h5>
                                 <div class="easy-pie-chart txt-color-green easyPieChart" data-percent="{{cognitive_percentage}}" data-pie-size="180">
                                    <span class="percent percent-sign txt-color-green font-xl semi-bold">{{cognitive_percentage}}</span>
                                </div>  
                            </div>      
                            <div class="col-sm-4 col-xs-12">
                                <h5>Socio afectivo</h5>
                                 <div class="easy-pie-chart txt-color-red easyPieChart" data-percent="{{socio_affective_percentage}}" data-pie-size="180">
                                    <span class="percent percent-sign txt-color-red font-xl semi-bold">{{socio_affective_percentage}}</span>
                                </div>    
                            </div>

                            <!--</div> end content_stats -->
                             <div class="more_info_stats">
                                <p>Para construir estas graficas se evaluaron {{quantity_results}} resultados, de {{quantity_students}} alumnos.</p>                
                            </div>
                    </div>  <!-- end widget body -->
                                                
                
                </div>
            </div>  <!-- END content -->
        </div>  <!-- END MAIN PANEL -->
        


{% endblock %}

{% block scripts %}  
        

        
          <script src="{% static "js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js" %}"></script>

                <!-- BOOTSTRAP JS -->
        
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();

                         
            
                });/*cieero pagesetup*/
        </script>
        
     
{% endblock %}