{% extends left_menu %}
{% block body %}
{% load staticfiles %}
        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

        <!-- MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Se actualizará la tabla con los nuevos ejercicios realizados" data-html="true"><i class="fa fa-refresh"></i></span> </span>

                <!-- breadcrumb -->
                <ol class="breadcrumb">

                </ol>


            </div>
            <!-- END RIBBON -->

           <!-- MAIN CONTENT -->

            <div id="content">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <h2>Alumno/a: {{student.name}}</h2>
                    
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">

                        <div class="tabs-left">
                            <ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
                                <li class="active">
                                    <a href="#tab-r1" data-toggle="tab"><span class="badge bg-color-blue txt-color-white"></span> Información personal </a>
                                </li>
                                <li>
                                    <a href="#tab-r2" data-toggle="tab"><span class="badge bg-color-blueDark txt-color-white"></span> Perfil</a>
                                </li>
                                <li>
                                    <a href="#tab-r3" data-toggle="tab"><span class="badge bg-color-greenLight txt-color-white"></span> Promedios</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-r1">
                                    <p>
                                      <span class="labsStudents">Nombre completo:</span> {{student.name}} {{student.last_name}} 
                                    </p>

                                    <p>
                                       <span class="labsStudents"> Fecha de nacimiento:</span> {{student.date_of_birth}}
                                    </p>
                                     <p>
                                       <span class="labsStudents"> Edad:</span> {{student.date_of_birth}}
                                    </p>
                                    <p>
                                        <span class="labsStudents"> Genero:</span> {{gender}}
                                    </p>
                                </div>
                                <div class="tab-pane" id="tab-r2">
                                    <div class="divGraphs">
                                        <div class="divRight">
                                            <p>Cognitivo</p>
                                                <div class="easy-pie-chart txt-color-greenLight easyPieChart" data-pie-size="110" data-percent="{{cognitive_percentage}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                <span class="percent percent-sign txt-color-greenLight font-md">55</span>
                                                <canvas height="110" width="110"></canvas>
                                            </div>
                                        </div>
                                        <div class="divRight">
                                            <p>Socio afectivo</p>
                                            <div class="easy-pie-chart txt-color-pinkDark  easyPieChart " data-pie-size="110" data-percent="{{socio_affective_percentage}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                <span class="percent percent-sign txt-color-pinkDark font-md">55</span>
                                                <canvas height="110" width="110"></canvas>
                                            </div>
                                        </div>   
                                        <div class="divRight"> 
                                            <p>Meta cognitivo</p>
                                            <div class="easy-pie-chart txt-color-blue  easyPieChart " data-pie-size="110" data-percent="{{metacognitive_percentage}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                <span class="percent percent-sign txt-color-blue font-md">55</span>
                                                <canvas height="110" width="110"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-r3">
                                    <div class="divGraphs">
                                        {% for k,value in list_average.items %}
                                        <div class="divRight"> 
                                            <p>{{k}}</p>
                                            {% if value.average < 50 %}
                                                <div class="easy-pie-chart txt-color-red easyPieChart" data-pie-size="110" data-percent="{{value.average}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                        <span class="percent percent-sign txt-color-greenLight font-md">55</span>
                                                        <canvas height="110" width="110"></canvas>
                                                </div>
                                            {% endif %}  
                                             {% if value.average > 50 %}
                                                <div class="easy-pie-chart txt-color-greenLight easyPieChart" data-pie-size="110" data-percent="{{value.average}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                        <span class="percent percent-sign txt-color-greenLight font-md">55</span>
                                                        <canvas height="110" width="110"></canvas>
                                                </div>
                                            {% endif %}    
                                        </div>
                                        {% endfor %}   
                                                 
                                     
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->



            </div>
                                                
                
        </div>
        <!-- END MAIN PANEL -->


{% endblock %}

{% block scripts %}  

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" ></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="{% static "js/libs/jquery-2.0.2.min.js" %}" ><\/script>');
            }
        </script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColReorder.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/FixedColumns.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColVis.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ZeroClipboard.js" %}"></script>
        <script src="{% static "js/plugin/datatables/media/js/TableTools.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/DT_bootstrap.js" %}"></script>
        <script src="{% static "js/plugin/bootstrap-progressbar/bootstrap-progressbar.js" %}"></script>
        <script src="{% static "js/notification/SmartNotification.min.js" %}"></script>
        <script src="{% static "js/smartwidgets/jarvis.widget.min.js" %}"></script>
        <script src="{% static "js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js" %}"></script>


        <link href="{% static "css/style.css" %}" media="screen" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" ></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="{% static "js/libs/jquery-ui-1.10.3.min.js" %}"><\/script>');
            }
        </script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
        <script src="{% static "js/plugin/jquery-touch/jquery.ui.touch-punch.min.js" %}"></script> -->

        <!-- BOOTSTRAP JS -->
        <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
        <!-- MAIN APP JS FILE -->
        
        <script src="{% static "js/app.js" %}"></script>
        
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();

                         
            
                });/*cieero pagesetup*/
        </script>
        <script src="{% static "js/functions_student_info.js" %}"></script>
    
     
{% endblock %}