{% extends left_menu %}
{% block body %}
{% load staticfiles %}
        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

    <!-- MAIN PANEL -->
    <div id="main" role="main">

          
            <div id="content"> <!-- CONTENT -->
                <div class="row title">
                    
                    <div class ="class_info well well-light col-sm-4 col-xs-12 pull-right">
                        <h6> Información del aula: </h6>
                        <p > <span class="txt">Código:</span> {{classroom.code}}  </p>
                        <p > <span class="txt">Clase: </span>{{classroom.grade}} {{classroom.class_letter}} </p>
                        <p > <span class="txt">Escuela:</span> {{classroom.school.name}} </p>
                    </div> <!-- row title-->
                    <div class="col-sm-8 col-xs-12 ">    
                        <header>
                            <h1>Información de un alumno</h1>
                            <img src="/static/img/lapices.png" alt="" class="hidden-xs">
                        </header>
                    </div>
            </div>
            
                <div class="jarviswidget" id="wid-id-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                   
                    <header>
                        <h2>Alumno/a: {{student.name}}</h2>                   
                    </header>
                        
                    <div class="widget-body">

                        <div class="tabs-top">
                            <ul class="nav nav-tabs tabs-top" id="demo-pill-nav">
                                <li class="active">
                                    <a href="#tab-r1" data-toggle="tab"><span class="badge bg-color-blue txt-color-white"></span> Información personal </a>
                                </li>
                                <li>
                                    <a href="#tab-r2" data-toggle="tab"><span class="badge bg-color-blueDark txt-color-white"></span> Perfil</a>
                                </li>
                                <li>
                                    <a href="#tab-r3" data-toggle="tab"><span class="badge bg-color-greenLight txt-color-white"></span> Promedios</a>
                                </li>
                                <li>
                                    <a href="#tab-r4" data-toggle="tab"><span class="badge bg-color-greenLight txt-color-white"></span> Ejercicios realizados</a>
                                </li>
                            </ul>
                            <div class="tab-content padding-10 row">
                                <div class="tab-pane active col-xs-12 col-md-12" id="tab-r1">
                                    <p class="pStudents">
                                      <span class="labsStudents">Nombre completo:</span> {{student.name}} {{student.last_name}} 
                                    </p>

                                    <p class="pStudents">
                                       <span class="labsStudents"> Fecha de nacimiento:</span> {{student.date_of_birth}}
                                    </p>
                                     <p class="pStudents">
                                       <span class="labsStudents"> Edad:</span> {{years}}
                                    </p>
                                    <p class="pStudents">
                                        <span class="labsStudents"> Genero:</span> {{gender}}
                                    </p>
                                </div><!-- end div tab-r1 -->  
                                <div class="tab-pane col-xs-12 col-md-12" id="tab-r2">
                                    <div >
                                        <div class="col-xs-12 col-md-4">
                                             <p>Cognitivo</p>
                                                <div class="easy-pie-chart txt-color-greenLight easyPieChart" data-pie-size="110" data-percent="{{cognitive_percentage}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                <span class="percent percent-sign txt-color-greenLight font-md">55</span>
                                                <canvas height="110" width="110"></canvas>
                                               </div>

                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <p>Socio afectivo</p>
                                            <div class="easy-pie-chart txt-color-pinkDark  easyPieChart " data-pie-size="110" data-percent="{{socio_affective_percentage}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                <span class="percent percent-sign txt-color-pinkDark font-md">55</span>
                                                <canvas height="110" width="110"></canvas>
                                            </div>
                                        </div>   
                                        <div class="col-xs-12 col-md-4"> 
                                            <p>Meta cognitivo</p>
                                            <div class="easy-pie-chart txt-color-blue  easyPieChart " data-pie-size="110" data-percent="{{metacognitive_percentage}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                <span class="percent percent-sign txt-color-blue font-md">55</span>
                                                <canvas height="110" width="110"></canvas>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="more_info_stats ">
                                        <p>Para construir estas graficas se evaluaron {{quantity_results}} resultados.</p>
                                    </div>
                                    
                                </div><!-- end div tab-r2 -->  
                                <div class="tab-pane col-xs-12 col-md-12" id="tab-r3">
                                    <div>
                                        {% for k,value in list_average.items %}
                                        <div class="col-xs-12 col-md-4"> 
                                            <p>{{k}}</p>
                                            {% if value.average <= value.incorrect_points %}
                                                <div class="easy-pie-chart txt-color-red easyPieChart" data-pie-size="110" data-percent="{{value.average}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                        <span class="percent percent-sign txt-color-greenLight font-md">55</span>
                                                        <canvas height="110" width="110"></canvas>
                                                </div>
                                            {% endif %}  
                                            {% if value.average >= value.correct_points %}
                                                <div class="easy-pie-chart txt-color-greenLight easyPieChart" data-pie-size="110" data-percent="{{value.average}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                        <span class="percent percent-sign txt-color-greenLight font-md">55</span>
                                                        <canvas height="110" width="110"></canvas>
                                                </div>
                                            {% endif %}
                                            {% if value.average < value.correct_points and value.average > value.incorrect_points %}
                                                <div class="easy-pie-chart txt-color-orange easyPieChart" data-pie-size="110" data-percent="{{value.average}}" style="width: 110px; height: 110px; line-height: 110px;">
                                                        <span class="percent percent-sign txt-color-black font-md">55</span>
                                                        <canvas height="110" width="110"></canvas>
                                                </div>
                                            {% endif %}    
                                        </div>
                                        {% endfor %}  
                                    </div>         
                                    <div class="more_info_stats">
                                        <p>Para construir estas graficas se evaluaron {{quantity_results}} resultados.</p>
                                    </div>   
                                                                                                                    
                                </div><!-- end div tab-r3 -->  
                                <div class="tab-pane" id="tab-r4">
                                    <div id = "col-xs-12 col-md-12 ">
                                        <table id ="dt_results" class= "table table-striped table-bordered table-hover">
                                            <thead>
                                                <th>Numero ejercicio</th>
                                                <th>Materia</th>
                                                <th>Unidad</th>
                                                <th>Resultado</th>
                                            </thead>
                                            <tbody>
                                                {%for r in student_results %}
                                                    <tr> 
                                                        <td><a target="blank" href="/contenidos/ejercicio/{{code}}/{{r.exercise.id}}">Ejercicio - {{r.exercise.cuasimodo_exercise_id}}</a></td>
                                                        <td>{{r.exercise.unit.subject.name}} </td>  
                                                        <td>{{r.exercise.unit.name }} </td>
                                                        <td>{{r.points}} </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                 </div>   <!-- end div tab-r4 -->    
                            </div><!-- end div tab-content -->
                            
                        </div><!-- end div tabs-left-->

                    </div><!-- end div widget-body -->
                                     
                
                </div><!-- end div jarviswidget -->       
            </div><!-- end content -->                                                                         
    </div><!-- END MAIN PANEL -->
        


{% endblock %}

{% block scripts %}  

        <script src="{% static "js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js" %}"></script>
       <script src="{% static "js/functions_student_info.js" %}"></script>

       
        
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();

                         
            
                });/*cieero pagesetup*/
        </script>
    
    
     
{% endblock %}