{% extends left_menu %}
{% block body %}
{% load staticfiles %}
        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

        <!-- MAIN PANEL -->
        <div id="main" role="main">
              <div class="row title">
                    
                <div class ="class_info well well-light col-sm-4 col-xs-12 pull-right">
                    <h6> Información del aula: </h6>
                    <p > <span class="txt">Código:</span> {{classroom.code}}  </p>
                    <p > <span class="txt">Clase: </span>{{classroom.grade}} {{classroom.class_letter}} </p>
                    <p > <span class="txt">Escuela:</span> {{classroom.school.name}} </p>
                </div> 
                <div class="col-sm-8 col-xs-12 center-block ">    
                    
                        <h1>Información académica de los alumnos</h1>
                    <img src="{%static "img/block.png" %}" alt="" class="hidden-xs">
                </div>
            </div><!-- row title-->
           <!-- MAIN CONTENT -->
       
               
                <!-- widget grid -->
                <section id="widget-grid" class="">
                    <input type="hidden" id="token" value="{{csrf_token}}"></input>
                    <input type="hidden" id="code" value="{{code}}"></input>
                    <!-- row -->
                    <div class="row title">
                
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget jarviswidget" id="wid-id-0" data-widget-sortable="true" data-widget-deletebutton="false">
                                <header class="header_tables">
                                    
                                    <h2 class="head_tables">Alumnos </h2>
                                </header>
                                <input type="hidden" id="code" value="{{code}}"></input>
                                <input type="hidden" id="token" value="{{csrf_token}}"></input>
                                <!-- widget div-->
                              <div>
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="widget-body-toolbar">
                
                                        </div>

                                        <table  id="dt_students" class="display table table-striped table-bordered table-hover">
                                            <thead>
                                                <th>Nombre</th>
                                                <th>Promedio metacognitivo (%)</th>
                                                <th>Promedio cognitivo (%)</th>
                                                <th>Promedio socio afectivo (%)</th>
                                                <th>Promedio academico (%)</th>
                                            
                                            </thead>
                                            <tbody >
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end widget content -->
                                    <div class="well well-sm well-light more_info_stats " id ="more_info_stats_students">
                                       
                                     </div>
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- end widget -->

                
                        </article>
                        <!-- WIDGET END -->
                
                    </div>
                
                    <!-- end row -->
                
                </section>
                <!-- end widget grid -->

            </div>
                   
                
        </div>
        <!-- END MAIN PANEL -->


{% endblock %}

{% block scripts %}  

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
      
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColReorder.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/FixedColumns.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/media/js/TableTools.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/DT_bootstrap.js" %}"></script>
    
      
        
        <script src="{% static "js/functions_students_list.js" %}"></script>                
         
        
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();
            
                });/*cieero pagesetup*/
        </script>


    
     
{% endblock %}