{% extends left_menu %}
{% block body %}
{% load staticfiles %}
        {% block left_menu %}
            {{ block.super }}
        {% endblock %}

        <!-- MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Se actualizará la tabla con los nuevos ejercicios realizados" data-html="true"><i class="fa fa-refresh"></i></span> </span>

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>
                        Trabajando en clase
                    </li>
                   <li>
                        Aula: {{code}}
                    </li>
                </ol>


            </div>
            <!-- END RIBBON -->

           <!-- MAIN CONTENT -->
           <div>
                
           </div>
            

                
                <!-- widget grid -->
                <section id="widget-grid" class="">
                
                    <!-- row -->
                    <div class="row">
                
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="true" data-widget-deletebutton="false">

                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                
                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"
                
                                -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                    <h2>Alumnos  Aula: {{code}}</h2>
                                
                                </header>
                                <input type="hidden" id="code" value="{{code}}"></input>
                                <input type="hidden" id="token" value="{{csrf_token}}"></input>
                                <!-- widget div-->
                                <div>
                                    
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                
                                    </div>
                                    <!-- end widget edit box -->
                
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="widget-body-toolbar">
                
                                        </div>
                                        <table  id="dt_students" class="table table-striped table-bordered table-hover">
                                           
                                            <tbody >                            
                                           
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end widget content -->
                                    
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- end widget -->

                
                        </article>
                        <!-- WIDGET END -->
                
                    </div>
                
                    <!-- end row -->
                
                </section>
                <!-- end widget grid -->

            </div>
            
           
            
                
                    <button type="button" id="eg7" class="btn btn-default"><i class="fa fa-thumbs-up"></i> Extra Small Alert </button>
                        
                   
                
            
                                     
                
        </div>
        <!-- END MAIN PANEL -->


{% endblock %}

{% block scripts %}  

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" ></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="{% static "js/libs/jquery-2.0.2.min.js" %}" ><\/script>');
            }
        </script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.js" %}"></script>
        <script src="{% static "js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColReorder.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/FixedColumns.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ColVis.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/ZeroClipboard.js" %}"></script>
        <script src="{% static "js/plugin/datatables/media/js/TableTools.min.js" %}"></script>
        <script src="{% static "js/plugin/datatables/DT_bootstrap.js" %}"></script>
        <script src="{% static "js/plugin/bootstrap-progressbar/bootstrap-progressbar.js" %}"></script>
        <script src="{% static "js/notification/SmartNotification.min.js" %}"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" ></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="{% static "js/libs/jquery-ui-1.10.3.min.js" %}"><\/script>');
            }
        </script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
        <script src="{% static "js/plugin/jquery-touch/jquery.ui.touch-punch.min.js" %}"></script> -->

        <!-- BOOTSTRAP JS -->
        <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
        <!-- MAIN APP JS FILE -->
        
        <script src="{% static "js/app.js" %}"></script>
        
        <script type="text/javascript">
            $(document).ready(function() {
               
                pageSetUp();
                //$('#dt_alumnos').dataTable();

                         
            
                });/*cieero pagesetup*/
        </script>
        <script src="{% static "js/functions_students_list.js" %}"></script>
    
     
{% endblock %}